{% extends "movieApp/base.html" %}

{% block body %}
{% if movies %}
    {% for eachMovie in movies %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ eachMovie.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ eachMovie.yearReleased }}</h6>
                <p class="card-text">{{ eachMovie.rated }}</p>
                <p class="card-text">{{ eachMovie.genre }}</p>
                <a href="#" class="card-link">link</a>
            </div>
        </div>
    {% endfor %}
{% else %}
<p>No Movies are available.</p>
{% endif %}
{% endblock %}