{% extends "movieApp/base.html" %}

{% block body %}
{% if movies %}
    {% for eachMovie in movies %}
            <div class="card-deck">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <strong class="card-title">{{ eachMovie.name }}</strong>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">{{ eachMovie.yearReleased }}</h6>
                        <p class="card-text">Rated {{ eachMovie.rated }}</p>
                        <p class="card-text">Genre: {{ eachMovie.genre }}</p>
                        <a href="#" class="card-link">link</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<p>No Movies are available.</p>
{% endif %}
{% endblock %}